<div class="row justify-content-center">
  <div class="jumbotron col-md-5">
    <h1>BetterMe</h1>
    <p class="lead">BetterMe is simple and fun goal tracking app that let's you challange yourself and others, it also adds a gaming factor to the table by comparing your achivements with other users so you can socialize and challange each other.</p>
    <p class="lead font-italic font-weight-normal" aria-hidden="true">You can start using the app by logging in with your Google or Facebook Account.</p>
    <hr class="my-4">
    <div class="btn-group btn-group-lg d-flex mb-1" role="group" aria-label="Login with Google">
      <button type="button" class="btn btn-danger disabled w-15">
        <fa-icon [icon]="['fab', 'google']"></fa-icon>
      </button>
      <a routerLink="/auth" class="btn btn-danger w-85">
        <span class="align-middle">Login with Google</span>
      </a>
    </div>
  </div>
</div>