<div class="card">
  <div class="card-body">
    <button class="card-button-top btn btn-link" *ngIf="editable" (click)="openGoalForm()">
      <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
    </button>

    <h5 class="card-title">{{ goal.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ goal.repetitions }} times a {{ timeframes[goal.timeframe] | lowercase }}
    </h6>
    <p class="card-text">{{ goal.description }}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <a routerLink="/user/{{ goal.user.userId }}" class="card-link">
        By {{ goal.user.firstname }} {{ goal.user.lastname }}
      </a>
    </small>
    <button class="card-button-bottom btn btn-link" (click)="assignGoal()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
  </div>
</div>